body {
  font-family: "helvetica";
  color: white;
  background-color: black;
  text-align: center;
}

.game {
  position: relative;
  width: min(80vh, 80vw);
  margin: auto;
}

.button-grid {
  width: min(80vh, 80vw);
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

.button {
  cursor: pointer;
  aspect-ratio: 1;
  border-radius: 15px;
}

/* green */
#btn1 {
  background-color: #269f26;
}
.active#btn1 {
  background-color: #06ff06;
}

/* red */
#btn2 {
  background-color: #a61b1b;
  /*background-color: #ae1d1d;*/
}
.active#btn2 {
  background-color: #ff0000;
}

/* yellow */
#btn3 {
  background-color: #a89200;
}
.active#btn3 {
  background-color: #ffdd00;
}

/* blue */
#btn4 {
  background-color: #0b47a8;
}
.active#btn4 {
  background-color: #0062ff;
}


.start-button {
  cursor: pointer;
  position: absolute;
  /*
  top: calc(50% - (min(20vh, 20vw)/2));
  left: calc(50% - min(10vh, 10vw));
  border: 2px solid white;
  background-color: black;
  aspect-ratio: 1;
  */

  top: calc(50% - (min(20vh, 20vw) / 2) - 10px);
  left: calc(50% - min(10vh, 10vw) - 10px);
  border: 10px solid black;
  background-color: #444;

  width: min(20vh, 20vw);
  line-height: min(20vh, 20vw);
  font-size: clamp(0.5rem, 3.0vw, 1.3rem);
  font-weight: bold;
  text-align: center;
  border-radius: 15px;
}

#bad_click {
  display: none;
  position: absolute;
  height: min(80vh, 80vw);
  aspect-ratio: 1;
  left: calc(49% - min(80vh, 80vw)/2);

  text-align: center;
  font-size: 50px;
  z-index: 2000;
  padding: 20px;
  border-radius: 20px;
  background-color: black;
  color: red;
}

#bad_click img {
  object-fit: fill;
  height: 50vh;
}
